main{
  width: 100%;
  height: 100dvh;
  background-image: url('/img/pc.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: clamp(200px, 50vw, 800px);
  position: relative;
  font-family: Ubuntu, sans-serif;
  display: flex;
  align-items: center;
  .main-box{
    /*border: 1px solid #000;*/
    width: 40%;
    margin-left: 10%;
    h1{
      font-size: 2.5em;
      padding-bottom: 30px;
      span{
        color: goldenrod;
      }
    }
    h2{
      font-size: 1em;
      margin-bottom: 30px;
    }
    .innerBox{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      a{
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
      .actionButton{
        width: fit-content;
        background: gold;
        border: none;
        outline: none;
        display: block;
        border-radius: 6px;
        padding: 20px;
        color: #000;
        cursor: pointer;
      }
      .separ{
        width: 30px;
      }
      .playBox{
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 100%;

        a{
          flex-direction: row;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            height: 50px;
            margin-right: 10px;
          }
        }


      }
    }
  }
  .boxWithIcons{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    .iconBox{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .pic{
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-right: 15px;
      }
      &:nth-child(1) {
        .pic{
          background-image: url('/img/star.svg');
        }
      }
      &:nth-child(2) {
        .pic{
          background-image: url('/img/rocket.svg');
        }
      }
      &:nth-child(3) {
        .pic{
          background-image: url('/img/target.svg');
        }
      }
      .description{

      }
    }
  }
}
