.contact-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .clients{
    width: 90dvw;
    background-color: azure;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .contact{
    width: 90dvw;
    background-color: blanchedalmond;
    height: 100px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    .call-to-action{
      width: 30%;
      font-family: "Ubuntu", "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 20px;
    }
    .contact-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      .contact-methods{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
      }
    }
  }
}
footer{
  width: 100%;
  display: flex;
  height: 100px;
  background-color: aqua;
}
